# Ignore node_modules directory
node_modules/

# Ignore build output
dist/
build/
uploads/
prisma-client/

# Ignore environment files
.env

# Ignore editor-specific files
.vscode/
.idea/

# Ignore log files
*.log
